@import "../style/config";

.container {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  margin: 10px;
}

.grid {
  display: flex;
  flex-direction: row;
}
.item {
  display: flex;
  flex: 1;
  flex-direction: column;
  // div {
  //   display: block;
  // }
  // h2 {
  //   display: flex;
  // }
}
.menubar {
  margin: 20px;
  a {
    font-family: "nautikbold";
    font-weight: normal;
    font-style: bold;
    text-decoration: none;
    font-size: 16pt;
  }
  a:hover {
    color: white;
    font-family: "nautikblack";
  }
}
.menubar-inner {
  position: fixed;
  background: $primary;
  // margin: -10px;
  padding: 10px;
  width: calc(100% - 60px);
  z-index: 1;
}

.bodyText {
  // flex: 1;
  width: 50%;
  // flex-direction: column;
}
.images {
  display: flex;
  flex: 2;
  flex-direction: column;
  z-index: 99;
}

.image {
  max-width: 100%;
  padding-bottom: 5px;
}
