@import url("https://fonts.googleapis.com/css?family=Alatsi|Patua+One&display=swap");
@font-face {
  font-family: "nautikbold";
  src: url("../style/fontfaces/nautik-bold-webfont.woff") format("woff2");
  src: url("../style/fontfaces/nautik-bold-webfont.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "nautikblack";
  src: url("../style/fontfaces/nautik-black-webfont.woff") format("woff2");
  src: url("../style/fontfaces/nautik-black-webfont.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}

$primary: rgba(248, 179, 25, 1);
$secondary: rgba(229, 229, 229, 1);
$primaryTrans: rgba(248, 179, 25, 0.95);
$secondaryTrans: rgba(229, 229, 229, 0.9);
