@import "../style/config";
.Footer {
  .Logo {
    position: fixed;
    width: 40%;
    bottom: 10px;
    right: 0px;
  }

  .Links {
    left: 25px;
    bottom: 10px;
    position: fixed;
    width: 100%;

    .Booking {
      img {
        width: 13%;
      }
    }

    .SocialMedia {
      position: absolute;
      display: inline;
      img {
        position: relative;
        width: 2.2vw;
        margin-bottom: 10px;
        margin-left: 10px;
        display: block;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .Footer {
    .Logo {
      position: fixed;
      width: 65%;
      bottom: 10px;
      right: 15px;
    }

    .Links {
      left: 15px;

      .Booking {
        img {
          width: 25%;
        }
      }

      .SocialMedia {
        visibility: hidden;
      }
    }
  }
}
@media only screen and (max-height: 400px) and (orientation: landscape) {
  .Footer {
    .Logo {
      position: fixed;
      width: 45%;
      bottom: 5px;
      right: 5px;
    }

    .Links {
      left: 15px;

      .Booking {
        visibility: hidden;
      }

      .SocialMedia {
        visibility: hidden;
      }
    }
  }
}
