@import "../style/config";

.menubar {
  margin-bottom: 0;
  background-color: $primary;
  width: calc(100vw - 65px);
  margin-top: 25px;
  margin-left: 25px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: nautikblack;
  font-size: 17pt;
  // font-size: calc(20px + 6 * ((100vw - 320px) / 680));

  a {
    display: block;
    text-decoration: none;
    color: #666;
  }
  a:visited {
    font-style: normal;
  }
  a:active {
    color: black;
  }
  a:hover {
    color: white;
  }
  // width: 50%;
}

@media only screen and (max-width: 850px) {
  .menubar {
    font-size: 15pt;
  }
}
@media only screen and (max-width: 600px) {
  .menubar {
    margin-bottom: 0;
    background-color: $primaryTrans;
    width: 75%;
    margin-top: 10px;
    margin-left: 10px;
    padding: 5px;
    font-size: 10pt;
    a:hover {
      color: #666;
    }
  }
}

@media only screen and (max-height: 400px) and (orientation: landscape) {
  .menubar {
    margin-bottom: 0;
    background-color: $primaryTrans;
    width: 85%;
    margin-top: 10px;
    margin-left: 10px;
    padding: 5px;
    font-size: 10pt;
    line-height: 97%;
    a:hover {
      color: #666;
    }
  }
}
