@import "../style/config";

.SeasonPicker {
  margin-left: 25px;
  margin-bottom: 5%;
  font-size: 25pt;
  text-align: left;
  z-index: 9999;

  .all {
    margin-right: 30px;
  }

  button {
    display: inline;
    margin-right: 10px;
    margin-top: 5px;
    vertical-align: top;
  }
}

@media only screen and (max-width: 600px) {
  .SeasonPicker {
    position: fixed;
    visibility: hidden;
    bottom: 0;
  }
}

@media only screen and (max-height: 400px) and (orientation: landscape) {
  .SeasonPicker {
    margin-left: 10px;
    margin-bottom: 5px;
    text-align: left;
    z-index: 9999;
    font-size: 8pt;

    .all {
      margin-right: 30px;
    }

    button {
      font-size: 8pt;
      display: inline;
      margin-right: 25px;
      margin-top: 5px;
      vertical-align: top;
    }
  }
}
