@import "../style/config";

.Timeline {
  .loading {
    position: fixed;
    top: 100px;
    font-family: nautikbold;
    font-size: 50pt;
  }

  position: relative;
  left: 45%;
  padding-left: 40px;
  padding-right: 0px;
  top: 0;
  width: 55%;
  right: 0px;
  box-sizing: border-box;
  .scrolltest {
    height: 2000px;
    .test {
      top: 50%;
    }
  }
}

@media only screen and (max-width: 600px) {
  .Timeline {
    position: relative;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    top: 50%;
    left: 0;
    right: 0px;
    box-sizing: border-box;
    z-index: 0;
  }
}

@media only screen and (max-height: 400px) and (orientation: landscape) {
}
