@import "../style/config";

.Timeline {
  position: relative;
  left: 45%;
  padding: 25px;
  padding-left: 40px;
  padding-right: 0px;
  top: 0;
  width: 55%;
  right: 0px;
  box-sizing: border-box;
  // .menuItem {
  //   margin-bottom: 5px;
  //   img {
  //     display: inline-block;
  //     width: 100%;
  //     margin: 0px;
  //     padding: 0px;
  //     margin-bottom: 5px;
  //   }
  // }
  .scrolltest {
    height: 2000px;
    .test {
      top: 50%;
    }
  }
}
